{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-css-order"
  ],
  "overrides": [
    {
      "files": [
        "*.json",
        "*.jsonc"
      ],
      "options": {
        "printWidth": 120,
        "trailingComma": "none"
      }
    },
    {
      "files": [
        "*.md",
        "*.mdx"
      ],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": [
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [
        "*.css",
        "*.scss",
        "*.less"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
